/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(150, 10, 103);
    margin-top: 30px;
}


/* utils */

.mb-10 {
    margin-bottom: 10px;
}

.hidden {
    visibility: hidden;
}

.text-purple {
    color: rgb(150, 10, 103);
    font-size: 20px;
}


/* main */

.white-20 {
    background-color: white;
    height: 200px;
    padding: 20px;
}

section .form .buttons {
    margin-top: 50px;
}

section .my-ticket .row {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

section .my-ticket .row .col {
    width: 20%;
}

section .my-ticket .row span {
    display: block;
    margin-top: 50px;
}